*{
	padding: 0;
	margin:0;
}
.tab{
	width:500px;
	border:1px solid #aaa;
	margin:100px auto;
}
.tit{
	border-bottom: 1px solid #aaa;
	overflow: hidden;
}
.tit>span{
	float: left;
	width:33.33%;
	height:40px;
	line-height: 40px;
	text-align: center;
}
.tit>span.active{
	background-color: blue;
}
.con>div{
	height: 300px;
	display: none;
}
.con>div.active{
	display: block;
}
