*{
	padding: 0;
	margin:0;
}

.tab{
	width:670px;
	box-shadow: 0 0 5px #000;
	margin:100px auto;
}
.btns{
	height: 75px;
	line-height: 75px;
	border-bottom: 2px solid blue;
	overflow: hidden;
}
.btns>div{
	width:25%;
	text-align: center;
	float: left;
}
.btns>div.active{
	background-color: blue;
	color:#fff;
}
.cons > div{
	height: 370px;
	display: none;
}
.cons > div > img{
	width:94%;
	height:94%;	
	margin-left:3%;
	margin-top:3%;
}
.cons > div.active{
	display: block;
}